.idea
bin
.mockery_boilerplate_text.txt
.gocache

inventory.env
order.env
payment.env
core.env
iam.env

./inventory/config.local.yaml
./inventory/config.production.yaml
./payment/config.local.yaml
./payment/config.production.yaml
./order/config.local.yaml
./order/config.production.yaml